<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lesinaja.les">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_topi_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_topi_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LesinAja">
        <activity
            android:name=".ui.tutor.les.GajiTutorActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.PerpanjangLesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.BayarLesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.les.presensi.LaporanTutorActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.les.presensi.UbahJadwalTutorActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.tutor.les.presensi.PresensiTutorActivity" />
        <activity
            android:name=".ui.tutor.les.DetailLesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.les.LesTutorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.presensi.UbahJadwalActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.presensi.LaporanActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.presensi.PresensiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.pelamar.DetailTutorPelamarActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.pelamar.TutorPelamarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.lowongan.DetailLowonganActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.lowongan.LowonganActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.TambahLesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.les.LesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.siswa.UbahSiswaActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.siswa.TambahSiswaActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.siswa.SiswaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.walimurid.akun.AkunWaliMuridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.akun.AkunTutorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.walimurid.beranda.BerandaWaliMuridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutor.beranda.BerandaTutorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.umum.akun.AkunUmumActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>